<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jxxy.debug.login">
    <application>
        <activity
            android:exported="false"
            android:name="org.jxxy.debug.login.activity.LoginActivity">
        </activity>
        <activity
            android:exported="false"
            android:name="org.jxxy.debug.login.activity.RegisterActivity">
        </activity>
    </application>

</manifest>