<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jxxy.debug.society">
<application>
    <activity
        android:name=".activity.DiscussActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.DiscussAnswerActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.HistoryActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.PracticeActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.LegalActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.AibreaklowActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.StudylowActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.RecommendActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.ExcellentClassroomActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.LectureActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.PlayActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.ExperienceActivity"
        android:exported="false">
    </activity>
    <activity
        android:name=".activity.MovableActivity"
        android:exported="false">
    </activity>
</application>
</manifest>